
body {
	background-color: #EEEEEE;
    font-family: Roboto, sans-serif;
}

#title {
	color: yellow;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#shop-photo {
	width: 100%;
	display: block;
	margin: 0 auto;
	height: auto;
}

#merch {

	margin: 10px;
	
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#merch .merch {
	border: 1px solid gray;
	border-radius: 12px;
	padding: 5px;
	text-align: center;
}

#merch .merch .merch-image {
	width: 250px;
}

#merch .merch .merch-name {
	margin-top: 8px;
	font-weight: bold;
}

#merch .merch .merch-price {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 4px;
}

.social a img {
	display: inline-block;
	width: 50px;
}

#location iframe {
	display: block;
	margin: 0 auto;
}


